body{
    margin: 0;
}


p{

    width: 100%;
    height: 10%;
    background-color: aqua;
    
}
.scritta-boolean{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 300px;
}
#sfondo-header{
    
    
    background-repeat: repeat-x;
   
}
.titolo-data{
    width: 100%;
}
p1{
    color: grey;
}
p2{
    color: aqua;
}
.tim{
   
    display: inline-block;
}